{% load static %}
<div class="mt-3">
    <div class="mb-2 mb-lg-0">
        <div class="card">
            <div class="card-body">
                <h5 class="font-weight-bold">Patient Info</h5>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-3 align-self-center">
                            <img src="{% get_media_prefix %}{{patient.photo}}" class="rounded-circle" width="100" />
                        </div>
                        <div class="col-md-3 align-self-center">
                            <p class="font-weight-bold"><i class="fa fa-user text-primary mr-2"></i>{{patient.first_name}} {{patient.last_name}}
                                <span class="text-capitalize badge {% if patient.status == 'active' %}badge-success{% else %}badge-danger{% endif %}">{{patient.status}}</span>
                            </p>
                        </div>
                        <div class="col-md-3 align-self-center">
                            <p class="font-weight-bold"><i class="fa fa-envelope text-primary mr-2"></i>{{patient.email}}</p>
                        </div>
                        <div class="col-md-3 align-self-center">
                            <p class="font-weight-bold"><i class="fa fa-id-badge text-primary mr-2"></i>{{patient.id}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>