<html>

<body>
    <img src="http://localhost:8000/static/images/logo.svg" />
    <p>We received the request to reset password for your account.</p>
    <br />
    <p>To continue the resetting process, please click the link:
        <a href="http://{{domain}}{% url 'reset-password' uidb64=uid token=token %}">
            http://{{domain}}{% url 'reset-password' uidb64=uid token=token %}</a>
    </p>

    <p>If you think this is a mistake, kindly ignore this email.</p>

    <br />
    <p>Thank you.</p>
    <br />
    <pre>The RehabNow Team</pre>
</body>

</html>