{% extends "prelogin/base.html" %}
{% block title %}Activation{% endblock %}
{% block main_content %}
<h3 class="font-weight-bold text-center">RehabNow Physiotherapist Portal</h3>
<div class="card text-dark my-5">
    <div class="card-body">
        <h4>Activation Link Invalid</h4>
        <p>The activation link in invalid.</p>
        <p>If you wish to get another verification link, please submit your registered email address and we will send
            you a new link soon.</p>
        <form action="/app/resend-activation-link" method="POST">
            {% csrf_token %}
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                </div>
                <input id="email" class="form-control form-control" type="email" placeholder="Email" name="email"
                    value="{{email}}" pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b" required />
                <div class="invalid-feedback">Please enter an email address.</div>
            </div>
            <div><button class="btn btn-primary">Submit</button></div>
        </form>
    </div>
</div>
<hr />
<a href="{% url 'login' %}" class="font-weight-bold">Login<i class="fa fa-arrow-right ml-2"></i></a>
{% endblock %}