{% extends "prelogin/base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block main_content %}
<h3 class="font-weight-bold text-center">RehabNow Physiotherapist Portal</h3>
<div class="card text-dark my-5">
    <div class="card-body">
        <h4>Reset Password Link Sent</h4>
        <p>We have sent a link for resetting password.</p>
        <p>You can now reset it.</p>
    </div>
</div>
<hr />
<a href="login" class="font-weight-bold">Login<i class="fa fa-arrow-right ml-2"></i></a>
{% endblock %}