{% extends "prelogin/base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block main_content %}
<div class="card text-dark my-5">
    <div class="card-body">
        <h4>Forgot Password</h4>
        <p>No worries. We got you covered!</p>
        <p>Submit your registered email address and we will send a link for resetting password to your email address.
        </p>
        <form action="" method="POST" id="forgot-password-form" novalidate>
            {% csrf_token %}
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                </div>
                <input id="email" class="form-control form-control" type="email" placeholder="Email" name="email" value="{{email}}" pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b" required />
                <div class="invalid-feedback alert-danger">Please enter an email address.</div>
            </div>
            <div><button class="btn btn-primary">Submit</button></div>
        </form>
    </div>
</div>
<hr class="bg-light" />
<a href="{% url 'login' %}" class="font-weight-bold">Login<i class="fa fa-arrow-right ml-2"></i></a>
<script>
    (function () {
        document.getElementById('forgot-password-form').addEventListener('submit', (e) => {
            var form = e.target;
            if (!form.checkValidity()) {
                e.preventDefault();
                e.stopPropagation();
            }
            form.classList.add('was-validated');
        });
    })();
</script>
{% endblock %}