{% extends "prelogin/base.html" %}
{% block title %}Logout{% endblock %}
{% block main_content %}
<div class="text-center">
  <div class="card my-5">
    <div class="card-body text-dark">
      <h4 class="mb-5 font-weight-bold">Logout Successfully</h4>
      <p>For security purpose, please clear your browser cache after logout.</p>
    </div>
  </div>
  <hr class="bg-light" />
  <a href="{% url 'login' %}" class="font-weight-bold">Login Again<i class="fa fa-arrow-right ml-2"></i></a>
</div>
{% endblock %}