{% extends "prelogin/base.html" %}
{% block title %}Registration{% endblock %}
{% block main_content %}
<h3 class="font-weight-bold text-center">RehabNow Physiotherapist Portal</h3>
<p class="text-center">Register as a physiotherapist</p>
<div class="alert-danger">
    <p>{{error}}</p>
</div>
<div>
    <form method="POST" id="register-form" class="" novalidate>
        {% csrf_token %}
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-envelope"></i></div>
            </div>
            <input id="email" class="form-control form-control-lg" type="email" placeholder="Email" name="email"
                value="{{email}}" pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b" required />
            <div class="invalid-feedback">Please enter an email address.</div>
        </div>
        <div class="input-group my-3" id="password-div">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-lock"></i></div>
            </div>
            <input id="password" class="form-control form-control-lg" type="password" placeholder="Password"
                name="password" required style="border-right: 0;"
                pattern="^(?=.*[^A-z\s\d][\\\^]?)(?=.*\d)(?=.*[a-zA-Z]).{8,}$" />
            <div class="input-group-append">
                <div class="input-group-text" style="border-left: 0;background-color: white;padding: 0;">
                    <button id="password-toggler" class="shadow-none btn" type="button">
                        <i id="password-toggler-i" class="fa fa-eye fa-icon-password"></i>
                    </button>
                </div>
            </div>
            <div class="invalid-feedback">Please enter password with at least 8 characters (including alphabet, digit
                and special character).</div>
        </div>
        <div class="input-group my-3" id="retype-password-div">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-lock"></i></div>
            </div>
            <input id="retypePassword" class="form-control form-control-lg" type="password"
                placeholder="Confirm Password" name="retypePassword" required style="border-right: 0;" />
            <div class="input-group-append">
                <div class="input-group-text" style="border-left: 0;background-color: white;padding: 0;">
                    <button id="password-toggler" class="shadow-none btn" type="button">
                        <i id="password-toggler-i" class="fa fa-eye fa-icon-password"></i>
                    </button>
                </div>
            </div>
            <div class="invalid-feedback">Please enter matching password.</div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary">Register</button>
        </div>
    </form>
    <hr />
    <div class="text-center">
        <a href="login" class="font-weight-bold">Login Here<i class="fa fa-arrow-right ml-2"></i></a>
    </div>
</div>

<script>
    (function () {
        var passwordVisibility = (elem) => {
            let state = {
                visible: false
            };

            let $elem = document.querySelector(elem);
            let $button = $elem.querySelector('button');
            let $passwordInput = $elem.querySelector("input");
            let $faIcon = $elem.querySelector('.fa-icon-password');

            $button.addEventListener('click', () => {
                if (!state.visible) {
                    $passwordInput.type = 'text';
                    $faIcon.classList.add('fa-eye-slash');
                    $faIcon.classList.remove('fa-eye');
                }
                else {
                    $passwordInput.type = 'password';
                    $faIcon.classList.add('fa-eye');
                    $faIcon.classList.remove('fa-eye-slash');
                }
                state.visible = !state.visible;
            });

            return $elem;
        }
        passwordVisibility('#password-div');
        passwordVisibility('#retype-password-div');

        document.getElementById('register-form').addEventListener('submit', (e) => {
            let form = e.target;
            let emailElem = form.email;
            let passwordElem = form.password;
            let retypePasswordElem = form.retypePassword;
            if (!/\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b/.test(emailElem.value)) {
                emailElem.setCustomValidity('false')
            } else if (passwordElem.value !== retypePasswordElem.value) {
                retypePasswordElem.setCustomValidity('false')
            } else {
                emailElem.setCustomValidity('')
                retypePasswordElem.setCustomValidity('')
            }
            if (!form.checkValidity()) {
                e.preventDefault();
                e.stopPropagation();
            }
            form.classList.add('was-validated')
        })
    })();
</script>
{% endblock %}