{% extends "prelogin/base.html" %}
{% block title %}Activation{% endblock %}
{% block main_content %}
<h3 class="font-weight-bold text-center">RehabNow Physiotherapist Portal</h3>
<div class="card text-dark my-5">
    <div class="card-body">
        <h4>Activation Link Sent</h4>
        <p>We have email-ed a new activation link to your registered email address.</p>
        <p>Please verify your email address.</p>
    </div>
</div>
<hr />
<a href="login" class="font-weight-bold">Login<i class="fa fa-arrow-right ml-2"></i></a>
{% endblock %}